.page-container{
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}
table{
  .i-icon-play{
    margin-right: 5px;
  }
}
.btn-line{
  margin-bottom: 20px;
}
.form-item {
  width: 220px;
}

.dialog-footer {
  padding: 20px 0 0 0;
  float: right;
}

.pagination-box {
  //background: #fff;
  display: flex;
  justify-content: right;
}
